@import "../../utils/variables";

.diskPage {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 15px;
     width: 100%;
     margin-top: 10px;
    
     &__title {
        justify-self: center;   
        color: $primary-main;
     }

     .diskControl {
        align-self: start;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;

        .arrow {
            width: 60px;
            height: 25px;
            border: 1px solid $primary-main;
            border-radius: 5px;
            color: $primary-light;
            cursor: pointer;
            transition: all 50ms ease-in-out;

            &:hover {
                transform: scale(1.1);
            }

            &:active {
                transform: scale(1.0);
            }
        }

        .createPanel {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }

        &__creating {
         display: flex;
         gap: 10px;
         align-items: center;

         .creatingForm {
            display: flex;
            gap: 7px;
            .done {
                border: 1px solid $primary-light;
                padding: 9px 9px;
                border-radius: 4px;
                cursor: pointer;
                color: $primary-light;
                transition: all 50ms ease-in-out;

                &:hover {
                    transform: scale(1.05);
                }

                &:active {
                    transform: scale(1);
                }
             }
         }
        }

        &__btn {
            display: flex;
            width: 150px;
            gap: 3px;
            align-items: center;
            justify-content: center;
            background: $primary-light;
            height: 40px;
            border-radius: 4px;
            color: $primary-contrastText;
            cursor: pointer;
            transition: all 50ms ease-in-out;

            &:hover {
                transform: scale(1.05);
            }

            &:active {
                transform: scale(1.0);
            }
        }

        .errorBlock {
            display: flex;
            flex-direction: column;
            color: red;
            font-weight: 700;
            &__title {
                align-self: flex-end;
                margin-bottom: 5px;
            }
        }

        .active {
            background: $primary-main;
            border: 3px solid $primary-light;
        }

        .error {
            background: red;

            &:hover .errorBlock__title {
                 opacity: 1;
            }
        }
     }
}

.dragSection {
    width: 100%;
    height: calc(100vh - 120px);
    font-size: 30px;
    color: $primary-light;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px dashed $primary-light;
    margin: 20px;
    font-weight: 700;
    transition: all 40ms ease-in-out;
}