@import "../../utils/variables";

.navbar {
    width: 100%;
    background-color: $secondary-dark;
    display: flex;
    align-items: center;
    justify-content: center;

        &__logo {
            display: flex;
            align-items: center;
            margin: 10px;
            gap: 6px;

            img {
                width: 100px;
                object-fit: cover;
            }
        }
        
        nav {
            display: flex;
            gap: 10px;

            span {
                font-size: 20px;
                font-weight: 700;
                color: $primary-main;
                cursor: pointer;
                transition: all 40ms ease-in-out;

                &:hover {
                    text-decoration: underline;
                }

                &:active {
                    transform: scale(0.9);
                }
            }
        }
}

.container {
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}